* {
    margin: 0;
    padding: 0;
  }

  @font-face
  {
      font-family: abelpro-b;
      src:url('fonts/Abel-Pro-Bold.otf');
  }
  @font-face
  {
      font-family: abelpro-r;
      src:url('fonts/Abel-Pro.otf');
  }

.footer
{
    padding-top: 40px;
    background-color: #f3f3f3;
}
.pb-30{padding-bottom: 30px;}
.pl-u{padding-left: unset;}
.pl-45{padding-left: 45px;}
.pr-10{padding-right: 10px;}
.mt-50{margin-top: 50px;}

  .footer-about h3
  {
      font-family: abelpro-b;
      font-size: 20px;
  }

  .footer-about p
  {
      font-family: abelpro-r;
      color: #666666;
  }
  .footer-about button
  {
      font-family: abelpro-b;
      font-size: 14px;
      background-color: rgb(234, 234, 234);
      width: 126px;
      height: 39px;
      line-height: 29px;
      border-radius: 20px;  
      
  }
  .footer-about button:focus
  {
      outline: unset;
  }
  .footer-navlist
  {
      margin-top: 50px;
  }
.footer-navlist ul li
{
    list-style: none;
    
}

.footer-navlist ul li a
{
    color: #666666;
    text-decoration: none;
    line-height: 27px;
}

.footer-navlist ul li a i
{
    padding: 10px;
}
.footer-contact h3
{
    font-size: 20px;
    font-family: abelpro-b;
    text-align: center;
    margin-bottom: 25px;
    padding-right: 30px;
}

.img
{
    text-align: right;
    margin-bottom: 25px;
}
.footer-contact p
{
    font-family: abelpro-b;
    text-align: right;
    padding-right: 10px;

}

.footer-contact p span
{
    color: #83c387;
    
}
.footer-contact-social ul
{
    padding-left: 45px;

}
.footer-contact-social ul li
{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
}

.footer-contact-social ul li a i:hover
    {
        transform: scale(1.1); 
    }
.footer-contact-social ul li a i
{
    color: #959595;
    font-size: 28px;
}

@media only screen and (max-width:823px)
{
    .img
{
    text-align: center;
  
}
.footer-contact p
{
    font-family: abelpro-b;
    text-align: center;
    padding-right: 0;

}
.footer-contact-social ul
{
    padding-left: 0;
    text-align: center;
    
}
.footer-contact h3 
{
    padding-right: 0;
}
}

@media only screen and (max-width: 768px) {
    .footer-contact h3
    {
        padding-right: 0;
    }
    .footer-contact p
    {
        text-align: center;
        padding-right: 0;
    }
    .footer-contact-social ul
    {
        padding-left: 0;
        text-align: center;
    }
    .footer-contact-social ul
    {
        padding-left: 0;
        text-align: center;
    }

    .footer-bottom-law p
    {
        text-align: center;
    }
    .img
    {
        text-align: center;
    }
}